debug: true
spring:
    application:
        name: budget-book-backend
    datasource:
        url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/postgres
        username: ${DATABASE_USERNAME:postgres}
        password: ${DATABASE_PASSWORD:postgres}
        driver-class-name: org.postgresql.Driver
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                show_sql: true

        hibernate:
            ddl-auto: none
        show-sql: true
    flyway:
        enabled: true
        locations: classpath:/migration

keycloak:
    realm: ${KEYCLOAK_REALM:budgetbook}
    resource: ${KEYCLOAK_CLIENT_ID:budgetbook-app}
    auth-server-url: ${KEYCLOAK_URL:http://keycloak:8080}
    credentials:
        secret: ${KEYCLOAK_CLIENT_SECRET:QDqaNEoz3reSsf7IpiG0VlohEBiA3RKF}

keycloak-admin:
    username: admin-username
    password: admin-password

logging:
    level:
        org.hibernate.SQL: DEBUG
        org.hibernate.type.descriptor.sql.BasicBinder: TRACE
